@page
@model RazorPage_Assignment.Pages.LoginModel
@{
}
<div class="container border" style="padding:20px">
    <form method="post">
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="email"></label>
            </div>
            <div class="col-2">
                <input type="text" asp-for="email" name="email" class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="password"></label>
            </div>
            <div class="col-2">
                <input type="password" asp-for="password" name="password" class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-5">
                <input type="submit" class="btn btn-primary" value="Login" />
            </div>
            <div class="col-2">
            </div>
        </div>
    </form>
</div>

@if (ViewData["notification"] != null)
{
    <p>@ViewData["notification"]</p>
}