@page
@model RazorPage_Assignment.Pages.Accounts.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>StaffMember</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="StaffMember.MemberId" class="control-label"></label>
                <input asp-for="StaffMember.MemberId" class="form-control" />
                <span asp-validation-for="StaffMember.MemberId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StaffMember.Password" class="control-label"></label>
                <input asp-for="StaffMember.Password" class="form-control" />
                <span asp-validation-for="StaffMember.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StaffMember.FullName" class="control-label"></label>
                <input asp-for="StaffMember.FullName" class="form-control" />
                <span asp-validation-for="StaffMember.FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StaffMember.EmailAddress" class="control-label"></label>
                <input asp-for="StaffMember.EmailAddress" class="form-control" />
                <span asp-validation-for="StaffMember.EmailAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StaffMember.Role" class="control-label"></label>
                <input asp-for="StaffMember.Role" class="form-control" />
                <span asp-validation-for="StaffMember.Role" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
